@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

body {
  display: flex;
  font-family: "Work Sans", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #fdfdfd;
  background: hsl(240, 8%, 8%);
}

.childClass {
  position: absolute;
}

.logoChild {
  padding-left: 2em;
  top: 30px;
}

.textChild {
  color: #fdfdfd;
  bottom: 10px;
  font-size: xx-large;
}

li {
  display: inline-block;
  list-style-type: none;
  font-size: 4.0vh;
  // text-transform: uppercase;
}

.logoImg {
  width: 1.5em;
}

li span {
  display: block;
}

.continueBtn {
  right: 10em;
  top: 50%;
  bottom: 50%;
}

.flip-scale-up-diag-1 {
	animation: flip-scale-up-diag-1 0.5s linear both;
}

/**
 * ----------------------------------------
 * animation flip-scale-up-diag-1
 * ----------------------------------------
 */
 @keyframes flip-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  25% {
    transform: scale(1.75) rotate3d(1, 1, 0, 90deg);
  }
  50% {
    transform: scale(2.5) rotate3d(1, 1, 0, 180deg);
  }
  75% {
    transform: scale(1.75) rotate3d(1, 1, 0, 270deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, 360deg);
  }
}


@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

$anim-text-offset: 1em;

body {
  font-family: "Work Sans", sans-serif;
  background: #111;
  text-align: center;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #fff;
  &__text {
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    &:before {
      content: attr(title);
    }
    &--bis {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-1 * $anim-text-offset);
      opacity: 0;
    }
  }
  &__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }
}

.button:hover {
  opacity: 1;
  .button__text {
    animation: fx-text 0.3s ease-out;
    &--bis {
      animation: fx-text-bis 0.3s ease-out;
    }
  }
  .button__mask {
    animation: fx-mask 0.3s ease-out;
  }
}

.button:active {
  opacity: 1;
  background: white;
  color: inherit;
}

@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
